<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSChartView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FSChartViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D76EC3D42010370300A9F20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76EC3EC2010370300A9F20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76EC3F72010370300A9F20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76EC4162010372000A9F20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
